.task-preview {
    margin-top:10px;
    border:1px solid #333;
}
.task-preview li {

}
.task-preview li div.task-preview-step {
    background: #cfcddc;
}

.panel-default {
    border-radius: 0;
    border:none;
}

.panel-default > .panel-heading {
    background: #fff;
    text-align: center;
    border-radius: 0;
    border:none;
}

.panel-default > .panel-heading > h3 {
    margin:0;
    vertical-align: baseline;
    line-height: 36px;
}

.panel-default > .panel-body {
    border:none;
    background-color: #fff;
}

.btn.btn-primary {
    background: #c7000a;
    border-color: #c7000a;
}