.task-preview {
    padding:15px;

}

.task-preview .task-preview-section {
    border:1px solid #aaa;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    padding:15px;
    font-size:14px;

}
.task-preview h1 {
    font-size: 14px;
    margin:0;

}


.task-preview .flow {
    margin-top:14px;
    list-style: none;
    border-bottom: 1px solid #ccc;
    padding-bottom:4px;
    overflow: hidden;
    font-size:14px;
    font-weight: bold;
}

.task-preview .flow .approval-title,
.task-preview .flow .approval-sign
{
    display:block;
    float:left;
    width:160px;
}
.task-preview .flow .approval-sign {
    width:300px;
}

.flow-user {
    width:50%;
    display: inline;
}

.task-preview li {
    list-style: none;
}
.task-preview li div.task-preview-step {
    background: #cfcddc;
}

.panel-default {
    border-radius: 0;
    border:none;
}

.panel-default > .panel-heading {
    text-align: center;
    border-radius: 0;
    border:none;
    background: #272c55;
    font-size:20px;
    padding:20px;
    color:#fff;
}

.panel-default > .panel-heading > h3 {
    margin:0;
    vertical-align: baseline;
    line-height: 36px;
}

.panel-default > .panel-body {
    border:none;
    background-color: #fff;
}

.btn.btn-primary {
    background: #c7000a;
    border-color: #c7000a;
}