.task-preview {
    padding:15px;
}

.task-preview h1 {
    font-size: 20px;
    margin:0;
}

.flow-user {
    width:50%;
    display: inline;
}

.task-preview li {
    list-style: none;
}
.task-preview li div.task-preview-step {
    background: #cfcddc;
}

.panel-default {
    border-radius: 0;
    border:none;
}

.panel-default > .panel-heading {
    background: #fff;
    text-align: center;
    border-radius: 0;
    border:none;
}

.panel-default > .panel-heading > h3 {
    margin:0;
    vertical-align: baseline;
    line-height: 36px;
}

.panel-default > .panel-body {
    border:none;
    background-color: #fff;
}

.btn.btn-primary {
    background: #c7000a;
    border-color: #c7000a;
}