#infoContent > .content > li {
    list-style: none;
    overflow: hidden;
    background: #eee;
    margin-bottom: 10px;
    padding:2px 10px;
}

#infoContent > .content >li.not-do {
    background: #ffedce;
}

#apply-do-form {
    background: #c7eeea;
    padding:10px 0;
    overflow: hidden;
    margin-bottom: 10px;
}