#infoModal .modal-content {
    border:20px solid #c7000a;
}

/*#infoModal .modal-content .modal-header,
#infoModal .modal-content .modal-body {
    border-radius: 6px;
}*/



.panel-default {
    border-radius: 0;
    border:none;
}

.panel-default > .panel-heading {
    background: #fff;
    text-align: center;
    border-radius: 0;
    border:none;
    font-size:20px;
    padding:20px;
}

.panel-default > .panel-heading > h3 {
    margin:0;
    vertical-align: baseline;
    line-height: 36px;
}

.panel-default > .panel-body {
    border:none;
    padding:4px 0;
}

.btn.btn-primary {
    background: #c7000a;
    border-color: #c7000a;
}

.panel-default .panel-body table {
    background: #fff;
    border:none;
    width:100%;
}

.panel-default > .panel-body table th{
    padding:0 4px 0 0;
}

.panel-default > .panel-body th span{
    background: #b5b6b6;
    display:block;
    padding:8px;
    height:60px;
    text-align: center;
}

.panel-default > .panel-body table th.last {
    padding:0;
}

.panel-default > .panel-body table td{
    padding:0 4px 0 0;
}

.panel-default > .panel-body td span{
    background: #e6e6e6;
    display:block;
    padding:8px;
    height:40px;
    text-align: center;
}

.panel-default > .panel-body table td.last {
    padding:0;
}

#infoContent > .content > li {
    list-style: none;
    overflow: hidden;
    background: #eee;
    margin-top: 10px;
    padding:2px 10px;
}

#infoContent > .content >li.not-do {
    background: #ffedce;
}


#apply-header,
#apply-message,
#apply-main
{
    font-size:16px;
    font-weight: bold;
    border:1px solid #aaa;
    padding:20px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

#apply-header .title,
#apply-header .date
{
    width:440px;
    display: inline-block;
}

#apply-header .date  {
    width:300px;
}

#apply-message {
    margin-top:14px;
    overflow:hidden;

}

#apply-message .message-title {
    display:block;
    float:left;
    width:105px;
    height:140px;
}

#apply-message .message-text {
    display:block;
    float:left;
    width:683px;
}

#apply-main {
    margin-top:14px;
}
.apply-main-title {
    height:30px;
}

.apply-user,
.apply-sign-head,
.apply-approval-head {
    display:block;
    float:left;
    width:230px;
    position:relative;
}
.apply-user {
    width:328px;
}

.apply-sign-head .operation-icon,
.apply-approval-head .operation-icon
{
    position: absolute;
    left:35px;
    top:23px;
    width:12px;
}

#apply-main .flow {
    margin-top:14px;
    list-style: none;
    border-bottom: 1px solid #ccc;
    padding-bottom:4px;
    overflow: hidden;
}

#apply-main .flow .approval-title,
#apply-main .flow .approval-sign,
#apply-main .flow .approval-result
{
    display:block;
    float:left;
    width:230px;
}
#apply-main .flow .approval-title {
    width:328px;
}
#apply-main .flow .approval-sign,
#apply-main .flow .approval-result {
    padding-left:14px;
}

#apply-main .flow.not-do .approval-result {
    color:#ccc;
}