.panel-default > .panel-heading {
    background: #f5d23a;
    color:#fff;
}

.panel-default > .panel-body th span{
    background: #e2cd74;
    color:#fff;
    font-weight:normal;
    padding-top:12px;
}