#app-entry {
    margin-top:20px;
    border-top:1px solid #e0e0e0;
    overflow:hidden;
}

#app-entry .entry-title {
    color:#fff;
    padding:20px;
    font-size:18px;
}

#app-entry > ul {
    padding: 0;
}

#app-entry > ul > li{
    line-height:20px;

    list-style: none;
}

#app-entry > ul > li > a {
    display: block;
    color:#fff;
    padding:10px 0 10px 20px;
    cursor:pointer;
    text-decoration: none;
}

#app-entry > ul > li > a:hover {
    background-color: #2a323f;
    color: #65cea7;
}