.task-preview {
    padding:5px 0;

}

.task-preview .task-preview-section {
    border:1px solid #aaa;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    padding:15px;
    font-size:14px;

}
.task-preview h1 {
    font-size: 14px;
    margin:0;

}


.task-preview .flow {
    margin-top:14px;
    list-style: none;
    border-bottom: 1px solid #ccc;
    padding-bottom:4px;
    overflow: hidden;
    font-size:14px;
    font-weight: bold;
}

.task-preview .flow .approval-title,
.task-preview .flow .approval-sign
{
    display:block;
    float:left;
    width:160px;
}
.task-preview .flow .approval-sign {
    width:460px;
}

.flow-user {
    width:90%;
    display: inline;
}

.task-preview li {
    list-style: none;
}
.task-preview li div.task-preview-step {
    background: #cfcddc;
}

.panel-default {
    border-radius: 0;
    border:none;
}

.panel-default > .panel-heading {
    text-align: center;
    border-radius: 0;
    border:none;
    background: #272c55;
    font-size:20px;
    padding:20px;
    color:#fff;
}

.panel-default > .panel-heading > h3 {
    margin:0;
    vertical-align: baseline;
    line-height: 36px;
}

.panel-default > .panel-body {
    border:none;
    background-color: #fff;
}

.btn.btn-primary {
    background: #c7000a;
    border-color: #c7000a;
}

.upload_files {
    padding-left:20px;
    background-image: url('/images/common/compose207c92.png');
    background-position-x: 0;
    background-position-y: 2px;
    background-repeat: no-repeat;
}




.form-content {
    padding:5px 0;

}

.form-content .task-form-section {
    border:1px solid #aaa;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    padding:15px;
    font-size:14px;

}
.form-content h1 {
    font-size: 14px;
    margin:0;

}

.form-content,
.form-content .task-form-section {
    overflow:hidden;
}

.form-content .form-item {
    margin-top:14px;
    list-style: none;
    border-bottom: 1px solid #ccc;
    padding-bottom:4px;
    overflow: hidden;
    font-size:14px;
    font-weight: bold;
    float:left;
}

.form-content .form-item .item-label,
.form-content .form-item .item-content
{
    display:block;
    float:left;
    width:120px;
}

.form-content .form-item .item-content {
    width:324px;
}
.form-content .form-item .item-content input[type='text'] {
    width:90%;
}

.form-content .form-item .item-content .table-item-label,
.form-content .form-item .item-content .table-item-input{
    display:block;
    float:left;
}

.form-content .form-item .item-content .table-item-input {
    margin-top:10px;
}

.form-content li {
    list-style: none;
}