#infoModal .modal-content {
    border:20px solid #c7000a;
}

/*#infoModal .modal-content .modal-header,
#infoModal .modal-content .modal-body {
    border-radius: 6px;
}*/



.panel-default {
    border-radius: 0;
    border:none;
}

.panel-default > .panel-heading {
    /*background: #fff;*/
    text-align: center;
    border-radius: 0;
    border:none;
    font-size:20px;
    padding:20px;

    background: #272c55;
    color:#fff;
}

.panel-default > .panel-heading > h3 {
    margin:0;
    vertical-align: baseline;
    line-height: 36px;
}

.panel-default > .panel-body {
    border:none;
    padding:4px 0;
}

.btn.btn-primary {
    background: #c7000a;
    border-color: #c7000a;
}

.panel-default .panel-body table {
    background: #fff;
    border:none;
    width:100%;
}

.panel-default > .panel-body table th{
    padding:0 4px 0 0;
}

.panel-default > .panel-body th span{
   /* background: #b5b6b6;*/
    display:block;
    padding:8px;
    height:60px;
    text-align: center;
    background: #688bbf;
    color:#fff;
    font-weight:normal;
    padding-top:12px;
}

.panel-default > .panel-body table th.last {
    padding:0;
}

.panel-default > .panel-body table td{
    padding:0 4px 0 0;
}

.panel-default > .panel-body td span{
    background: #e6e6e6;
    display:block;
    padding:8px 8px 0;
    height:60px;
    text-align: center;
    line-height:24px;

}

.panel-default > .panel-body table td.last {
    padding:0;
}

.panel-default > .panel-body > table > tbody > tr > th > span,
.panel-default > .panel-body > table > tbody > tr > td > span
{
    word-break: break-all;
    width: 36px;
    overflow:hidden;
}

.panel-default > .panel-body > table > tbody > tr > th:nth-child(2) > span,
.panel-default > .panel-body > table > tbody > tr > td:nth-child(2) > span
{
    width: 276px;
}

.panel-default > .panel-body > table > tbody > tr > th:nth-child(3) > span,
.panel-default > .panel-body > table > tbody > tr > td:nth-child(3) > span
{
    width: 196px;
}

.panel-default > .panel-body > table > tbody > tr > th:nth-child(4) > span,
.panel-default > .panel-body > table > tbody > tr > td:nth-child(4) > span
{
    width: 166px;
}

.panel-default > .panel-body > table > tbody > tr > th:nth-child(5) > span,
.panel-default > .panel-body > table > tbody > tr > td:nth-child(5) > span
{
    width: 116px;
}

.panel-default > .panel-body > table > tbody > tr > th:nth-child(6) > span,
.panel-default > .panel-body > table > tbody > tr > td:nth-child(6) > span
{
    width: 110px;
}








#infoContent > .content > li {
    list-style: none;
    overflow: hidden;
    background: #eee;
    margin-top: 10px;
    padding:2px 10px;
}

#infoContent > .content >li.not-do {
    background: #ffedce;
}
#infoModal .modal-lg {
    width:1000px;
}

#apply-top {
    font-size:16px;
    padding:10px 50px;
}
#apply-top .apply_user-txt {
    margin-right:120px;
}

#apply-header,
#apply-message,
#apply-main,
#apply-form-content
{
    font-size:16px;
    font-weight: bold;
    border:1px solid #aaa;
    padding:20px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

#apply-header .title,
#apply-header .date,
#apply-header .title-txt,
#apply-header .date-txt
{
    width:120px;
    display: inline-block;
}


#apply-header .title-txt  {
    width:520px;
    margin-right:10px;
}
#apply-header .date-txt  {
    width:100px;
}

#apply-message,
#apply-form-content{
    margin-top:14px;
    overflow:hidden;

}

#apply-message .message-title {
    display:block;
    float:left;
    width:120px;
    height:140px;
}

#apply-message .message-txt {
    display:block;
    float:left;
    width:760px;
}

#apply-main {
    margin-top:14px;
}
.apply-main-title {
    height:30px;
}

.apply-title  {
    display:block;
    float:left;
    width:110px;
    position:relative;
}
.apply-title.apply-message-head {
    width:300px;
}
.apply-title.apply-time-head {
    width:180px;
}
.apply-user {
    width:188px;
}

.apply-title .operation-icon {
    position: absolute;
    left:35px;
    top:23px;
    width:12px;
}

#apply-main .flow {
    margin-top:14px;
    list-style: none;
    border-bottom: 1px solid #ccc;
    padding-bottom:4px;
    overflow: hidden;
}

#apply-main .flow .r-done,
#apply-main .flow .r-not-do {
    display:block;
    float:left;
    width:110px;
    padding-left:14px;
}

#apply-main .flow .approval-title {
    padding-left:0;
}

#apply-main .flow .approval-message {
    width:300px;
}

#apply-main .flow .approval-time {
    width:180px;
}

#apply-main .flow .approval-title {
    width:188px;
}

#apply-main .flow.not-do .approval-result,
#apply-main .flow.not-do .approval-message,
#apply-main .flow.not-do .approval-time{
    color:#ccc;
}


#a-print {
    padding:10px 10px 0 0;
    overflow:hidden;
}

#a-print .print-btn {
    float:right;
    background:#c7000a;
    color:#fff;
    border-radius: 4px;
    padding: 4px 16px;
    font-size:12px;
    text-decoration: none;
    cursor:pointer;
}

#a-print .print-btn:hover {
    opacity: 0.8;
}



#apply-form-content {

}
#apply-form-content .form-content-item .form-content-label,
#apply-form-content .form-content-item .form-content-input{
    display:block;
    float:left;
    width:160px;
}

#apply-form-content .form-content-item .form-content-input{
    width:360px;
}

#apply-form-content .form-content-item {
    margin-top:14px;
    list-style: none;
    border-bottom: 1px solid #ccc;
    padding-bottom:4px;
    overflow: hidden;
    font-size:14px;
    font-weight: bold;
    float:left;
}

#apply-form-content .form-content-input .table-item-label,
#apply-form-content .form-content-input .table-item-input {
    float:left;
    display:block;
    font-size:14px;
}

#apply-form-content .form-content-input .table-item-input {
    margin-top:10px;
}
#apply-form-content .form-content-input .table-item-input input[type="text"] {
    width:90%;
}

