html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
    background: #efefef;
}

.wrap > .container {
    padding: 110px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.footer {

    /*background-color: #f5f5f5;*/
    background: #fff;
    border-top: 1px solid #ccc;
    color:#666;
    padding-top:4px;
    /*position: fixed;
    width:100%;*/
}
.footer .logo-line {

}

.footer .txt-line {
    height:20px;
    line-height: 20px;
}



.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}


/* sidebar */
#sidebar {
    width:200px;
    float:right;
    overflow: hidden;
    border-radius: 0;
    border:none;
    background: #e7e7e7;
    padding:0;
}

#sidebar .sidebar-head {
    background: #b6b6b6;
    text-align: center;
    padding:10px;
    color:#000;
    font-weight:bold;
}
#sidebar > ul {
    padding:10px 10px 0;

}

#sidebar > ul > li {
    overflow: hidden;
    margin-bottom: 10px;
    /*padding:0 10px;*/
}

#sidebar > ul > li > span.col {
    width:50px;
    text-align: right;
    display:block;
    float:left;
}

#sidebar > ul > li > span.val {
    width:130px;
    display: block;
    float:left;

}

#page_head {
    margin-left:20px;
    margin-bottom:20px;
    width:920px;
    float:left;
}

/*  main  */
#main {
    padding:0;
    margin-right:20px;
    width:920px;
    float:left;
    overflow: hidden;
}

/* nav */
#top-navbar {
    height:100px;
    border-bottom: 20px solid #c7000a;
}

#top-navbar .navbar-brand{
    width:210px;
    height:80px;
    padding:6px 15px;
    overflow: hidden;

}
#top-navbar .navbar-brand img {
    width:180px;
    height:68px;
}

#top-nav, #top-nav li {
    height:80px;
}

#top-nav li a {
    padding:30px 15px;
    color:#666;
}

#top-nav > li.nav-create-btn {
    /*background: #5cb85c;*/
}

#top-nav > li.nav-create-btn:hover {
    /*background: #54a254;*/
    background: #b6b6b6;
}

#top-nav > li.nav-create-btn > a {
    /*color: #fff;*/
}

#top-nav > li.nav-do-btn:hover > a,#top-nav > li.nav-do-btn.active > a{
    /*background: #337ab7;*/
    background: #b6b6b6;
    color: #fff;
}

#top-nav > li.nav-exit-btn:hover > a {
    background: #7e0009;
    color:#fff;
}