#task-index {
    font-family: '方正兰亭纤黑';

}

#task-index a {
    text-decoration: none;
    color:#333;
}

/*#task-index a:hover {
    color:#c7000a;
}*/

#task-index > .task-content > .task-list {
    width:463px;
    margin-right:40px;
    margin-bottom:20px;
    float:left;
}

#task-index > .task-content > .task-list:nth-child(2),
#task-index > .task-content > .task-list:nth-child(4) {
    width:377px;
}

#task-index > .task-content > .task-list:nth-child(4){
    margin-right:0;
}

#task-index > .task-content > .task-list > .task-title {
    display:block;
    width:169px;
    height:260px;
    padding-top:85px;
    padding-left:44px;
    float:left;
    margin-right:29px;
}
#task-index > .task-content > .task-list > .task-title-3,
#task-index > .task-content > .task-list > .task-title-4 {
    width:263px;
    height:263px;
    padding-top:86px;
    padding-left:91px;
}




#task-index > .task-content > .task-list > .task-title-1 {
    background-color:#f5d23a;
}
#task-index > .task-content > .task-list > .task-title-2 {
    background-color:#c7000a;
}
#task-index > .task-content > .task-list > .task-title-3 {
    background-color:#252a54;

}
#task-index > .task-content > .task-list > .task-title-4 {
    background-color:#6da62a;
}

#task-index > .task-content > .task-list > .task-category-list {
    float:left;
    width:265px;
}

#task-index > .task-content > .task-list > .task-category-list > ul > li > a {
    padding:20px 9px;
    display: block;
    font-size:26px;
    font-weight: bold;
}

#task-index > .task-content > .task-list > .task-category-list > ul > li > a:hover {
    opacity: 0.8;
}

#task-index > .task-content > .task-list > .task-category-list > ul > li.word-line-2 > a {
    padding:10px 9px;
    line-height:30px;
}
#task-index > .task-content > .task-list > .task-category-list > ul > li.word-line-3 > a {
    padding:1px 9px;
    line-height:25px;
}
#task-index > .task-content > .task-list > .task-category-list > ul > li.word-num-3 > a {
    padding:20px 0;
    letter-spacing: -1px;
}

#task-index > .task-content > .task-list > .task-category-list a:hover {
    cursor: pointer;
}
#task-index > .task-content > .task-list > .task-category-list > ul {
    float:left;
    list-style: none;
    padding:0;
    margin:0;
}

#task-index > .task-content > .task-list > .task-category-list > ul > li {
    background-color:#bcbcbc;
    text-align: center;
    width:78px;
    height:78px;
    padding:0;
    font-weight:bold;
    font-size:16px;
    letter-spacing: 4px;
    margin-left:15px;
    margin-bottom:13px;
    float:left;
    /*width:60px;*/

}

#task-index > .task-content > .task-list > .task-category-list > ul > li.last-line{
    margin-bottom:0;
}


#task-index > .task-content > .task-list > .task-category-list.ul-1 > ul > li {
    background-color: #fdf1bd;
}

#task-index > .task-content > .task-list > .task-category-list.ul-1 > ul > li:nth-child(3n+1){
    margin-left:0;
}


#task-index > .task-content > .task-list > .task-category-list.ul-2 {
    width:177px;
}

#task-index > .task-content > .task-list > .task-category-list.ul-2 > ul > li {
    background-color: #ffd6d8;
}


#task-index > .task-content > .task-list > .task-category-list.ul-2 > ul > li:nth-child(2n+1){
    margin-left:0;
}

#task-index > .task-content > .task-list > .task-category-list.ul-3 {
    width:171px;
}

#task-index > .task-content > .task-list > .task-category-list.ul-3 > ul > li {
    background-color: #cfe8ff;
    margin-bottom: 14px;
}

#task-index > .task-content > .task-list > .task-category-list.ul-3 > ul > li:nth-child(2n+1){
    margin-left:0;
}


#task-index > .task-content > .task-list > .task-category-list.ul-4 {
    width:78px;
}

#task-index > .task-content > .task-list > .task-category-list.ul-4 > ul > li {
    background-color: #cef0a7;
    margin-bottom: 14px;
}

#task-index > .task-content > .task-list > .task-category-list.ul-4 > ul > li{
    margin-left:0;
}

/*





#task-index > .task-content > .task-list > .task-category-list.ul-1 > ul > li {
    background-color:#bcbcbc;
    text-align: center;
    padding:0;
    font-weight:bold;
    font-size:16px;
    letter-spacing: 4px;
    margin-bottom:10px;
}

#task-index > .task-content > .task-list > .task-category-list.ul-1 > ul:nth-child(2) > li {
    background: #e3e3e3;
}
*/








/*
.task-category {
    overflow: hidden;
    margin-top:20px;
}

.task-category.task-first {
    margin-top:0;
}

.task-category .category-heading {
    background:#e57e7e;
    text-align: center;
    padding:10px;
}

.task-category .category-heading h3 {
    margin:0;
}

.task-category .category-list {
    clear:both;
}

.task-category .category-list li {
    list-style:none;
    background: #ffbcbc;
    width:304px;
    margin-right:4px;
    margin-top:4px;
    float:left;
    padding:10px;
    text-align: center;
}

.task-category .category-list li.li-3rd {
    margin-right:0;
}*/
