#task-index {
    padding:80px 60px 0;

}

#task-index > .task-content{
    background-image: url('/images/main/site/bg.png');
    width:754px;
    height:820px;
    padding-top:270px;
}

#task-index > .task-content > ul {
    list-style: none ;
    float:left;
    width:188px;
    padding-left:70px;
}

#task-index > .task-content > ul.ul-3,
#task-index > .task-content > ul.ul-4 {
    padding-left:82px;
}
#task-index > .task-content > ul > li {
    letter-spacing: 4px;
    line-height:42px;
    font-weight:bold;

}





.task-category {
    overflow: hidden;
    margin-top:20px;
}

.task-category.task-first {
    margin-top:0;
}

.task-category .category-heading {
    background:#e57e7e;
    text-align: center;
    padding:10px;
}

.task-category .category-heading h3 {
    margin:0;
}

.task-category .category-list {
    clear:both;
}

.task-category .category-list li {
    list-style:none;
    background: #ffbcbc;
    width:304px;
    margin-right:4px;
    margin-top:4px;
    float:left;
    padding:10px;
    text-align: center;
}

.task-category .category-list li.li-3rd {
    margin-right:0;
}