#task-index {
    padding:0 60px;

}

#task-index > .task-content-2 > .task-list {
    width:175px;
    margin-right:18px;
    float:left;
}

#task-index > .task-content-2 > .task-list > .task-title {
    display:block;
    width:175px;
    height:160px;
    padding-top:36px;
    padding-left:44px;
    margin-bottom:18px;
}
#task-index > .task-content-2 > .task-list > .task-title-1 {
    background-color:#f5d23a;
}
#task-index > .task-content-2 > .task-list > .task-title-2 {
    background-color:#c7000a;
}
#task-index > .task-content-2 > .task-list > .task-title-3 {
    background-color:#252a54;
}
#task-index > .task-content-2 > .task-list > .task-title-4 {
    background-color:#6da62a;
}

#task-index > .task-content-2 > .task-list > .task-category-list {
    height:350px;
    background-color:#e6e6e6;
    padding-left:32px;
    padding-top:32px;
    list-style:none;

}

#task-index > .task-content-2 > .task-list > .task-category-list > li {
    font-weight:bold;
    font-size:16px;
    letter-spacing: 4px;
    margin-bottom:22px;
}

#task-index > .task-content-2 > .task-list > .task-category-list.ul-2 {
    padding-left:40px;
}


#task-index > .task-content-2 > .task-list > .task-category-list.ul-3 {
    padding-left:62px;
}

#task-index > .task-content-2 > .task-list > .task-category-list.ul-1 > ul {
    list-style:none;
    padding-left:10px;
    width:52px;
    float:left;
    margin-right:10px;
}


#task-index > .task-content-2 > .task-list > .task-category-list.ul-1 > ul > li {
    font-weight:bold;
    font-size:16px;
    letter-spacing: 4px;
    margin-bottom:22px;
    width:42px;
}



#task-index > .task-content{
    background-image: url('/images/main/site/bg.png');
    width:754px;
    height:820px;
    padding-top:270px;
}




#task-index > .task-content > ul {
    list-style: none ;
    float:left;
    width:188px;
    padding-left:70px;
}

#task-index > .task-content > ul.ul-3,
#task-index > .task-content > ul.ul-4 {
    padding-left:82px;
}
#task-index > .task-content > ul > li {
    letter-spacing: 4px;
    line-height:42px;
    font-weight:bold;
}
#task-index > .task-content > ul.ul-4 > li {
    letter-spacing: 2px;
}





.task-category {
    overflow: hidden;
    margin-top:20px;
}

.task-category.task-first {
    margin-top:0;
}

.task-category .category-heading {
    background:#e57e7e;
    text-align: center;
    padding:10px;
}

.task-category .category-heading h3 {
    margin:0;
}

.task-category .category-list {
    clear:both;
}

.task-category .category-list li {
    list-style:none;
    background: #ffbcbc;
    width:304px;
    margin-right:4px;
    margin-top:4px;
    float:left;
    padding:10px;
    text-align: center;
}

.task-category .category-list li.li-3rd {
    margin-right:0;
}