#news-section/*, #site-index*/ {
    padding-top:85px;
    position:absolute;
    width:100%;
    text-align: center;
    border-bottom: 50px solid #ED1B23;
}


.fullSlide{ min-width:1000px; /*border-top:4px solid #3D9EE9; */ position:relative;  height:500px; overflow:hidden;   }
.fullSlide .bd{ position:relative; z-index:0;  }
.fullSlide .bd ul{ width:100% !important; }
.fullSlide .bd li{ width:100% !important;  height:500px; }
.fullSlide .bd li .siteWidth{ width:100%; position:relative; margin:0 auto;  height:500px;  }
.fullSlide .bd li a{ position:absolute; width:100%; height:500px; display:block; z-index:1;;   }
.fullSlide .bd .txt{ position:absolute; width:415px; top:100px; left:22px;   font:normal 18px/30px "Microsoft YaHei";    }
.fullSlide .bd .btn{ display:block; zoom:1; margin-top:8px;  width:72px; padding-right:10px;  height:31px; line-height:31px; text-align:center; color:#fff; font-size:12px; background:url(../../../images/common/banner-btn.png) 0 0 no-repeat;
    _background:url(../../../images/common/banner-btn-ie6.png) 0 0 no-repeat;
}

/*
.fullSlide .hd{ width:100%;  position:absolute; z-index:1; bottom:0; left:0; height:30px; line-height:30px; text-align:center; }
.fullSlide .hd ul li{ cursor:pointer; display:inline-block; *display:inline; zoom:1; width:11px; height:11px; margin:4px; background:url(../images/common/dot-black.png) 0 0; overflow:hidden;
    line-height:9999px; filter:alpha(opacity=40);opacity:0.4;
}
.fullSlide .hd ul .on{ filter:alpha(opacity=100);opacity:1;  }*/



#slideCover {
    position: absolute;
    top:0;
    /*z-index: 1040;*/
    /*margin-top:120px;*/
    margin-left:310px;
    margin-top:76px;
    overflow: hidden;
    /*text-align: center;*/
    width:220px;
    left:50%;
}

/*
.navbar ul li.dropdown  {
    z-index: 1050;
}

.navbar ul li.dropdown ul.dropdown-menu {
    z-index: 1050;
}

.navbar ul li.dropdown ul.dropdown-menu li.user-item {
    z-index: 1050;
}*/
